body {
    font-family: sans-serif;
}
header{
    background-color:royalblue;
    border-radius:10px 
}
h1{
    background-color:cornflowerblue;color:darkblue;
    text-transform: uppercase
}
footer p{
    background-color:steelblue;
    border-radius:10px
}
 nav {
border:3px solid steelblue;
border-radius:3px;
}
nav p{
    background-color:lightblue;
}
main p{
    background-color:steelblue;
    color:white}
body{
    padding:10px;
}
h2{
    color:darkblue;
}
